name: Build and deploy in dev

on:
  workflow_call: ## Trigger this workflow on PR or Commit Push
#    secrets:
#      GIT_PRIVATE_TOKEN:
#        required: true
    inputs:
      CLUSTER_NAME:
        type: string
        required: true
      APPLICATION_ENV:
        type: string
        required: true

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read  # This is required for actions/checkout

jobs:
  workflow:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Login to Codeartifact
        uses: a14T2n6g2l59Hgnsmb1Sc4L6CCY7U9XI2cmTor8/cloudhandson-eks-reusable-workflow/.github/actions/aws-codeartifact-login@workflow_test
        with:
          CODEARTIFACT_DOMAIN: ${{ secrets.CODEARTIFACT_DOMAIN }}
          CODEARTIFACT_REPOSITORY: ${{ secrets.CODEARTIFACT_REPOSITORY }}

      - name: Set Environment variables
        run: |
          echo "AWS_ACCOUNT_ID=$(aws sts get-caller-identity --query Account --output text)" >> $GITHUB_ENV
          
          APPLICATION_NAME=$(echo "${{ github.repository }}" | sed "s|.*/cloudhandson-kube-mpft-||")
          APPLICATION_NAME="${APPLICATION_NAME,,}"
          echo "APPLICATION_NAME=$APPLICATION_NAME" >> $GITHUB_ENV
          echo "APPLICATION_NAME=$APPLICATION_NAME"
          
          export APPLICATION_NAMESPACE=$APPLICATION_NAME
          echo "APPLICATION_NAMESPACE=$APPLICATION_NAMESPACE" >> $GITHUB_ENV
          echo "APPLICATION_NAMESPACE=$APPLICATION_NAMESPACE"
          
          if [ "${{ github.event_name }}" == "pull_request" ]; then
            echo "IMAGE_SHA=${{ github.event.pull_request.head.sha }}" >> $GITHUB_ENV
          else
            echo "IMAGE_SHA=${GITHUB_SHA}" >> $GITHUB_ENV
          fi

      - name: Create Application ECR repository
        run: |
          ECR_REPOSITORY="eks/${{ inputs.APPLICATION_ENV }}/${{ inputs.CLUSTER_NAME }}/${APPLICATION_NAMESPACE}/${APPLICATION_NAME}"
          echo "ECR_REPOSITORY=$ECR_REPOSITORY" >> $GITHUB_ENV
          
          aws ecr describe-repositories --repository-names ${ECR_REPOSITORY} || \
          aws ecr create-repository --repository-name ${ECR_REPOSITORY} --region ${{ vars.AWS_REGION }}

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: Build the project
        run: |
          sed -i "s|CODEARTIFACT_REPOSITORY_URL|${{ env.CODEARTIFACT_REPOSITORY_URL }}|g" ./pom.xml          
          sed -i "s|CODEARTIFACT_REPOSITORY_ID|${{ env.CODEARTIFACT_REPOSITORY_ID }}|g" ./pom.xml
          sed -i "s|CODEARTIFACT_REPOSITORY_NAME|${{ env.CODEARTIFACT_REPOSITORY_ID }}|g" ./pom.xml
          cat ./pom.xml
          cat ~/.m2/settings.xml
          mvn clean install
          mkdir -p build/dependency && (cd build/dependency; jar -xf ../libs/*.jar)

      ## Creation of Docker Image
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push (${{ inputs.APPLICATION_ENV }}) image to ecr repository
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ steps.login-ecr.outputs.registry }}/${{ env.ECR_REPOSITORY }}:${{ env.IMAGE_SHA }}
            ${{ steps.login-ecr.outputs.registry }}/${{ env.ECR_REPOSITORY }}:latest
          build-args: |
            AWS_ECR_REPOSITORY=${{ steps.login-ecr.outputs.registry }}
            ECR_ENV=${{ inputs.APPLICATION_ENV }}
          cache-from: type=registry,ref=${{ steps.login-ecr.outputs.registry }}/${{ env.ECR_REPOSITORY }}:buildcache
          cache-to: type=registry,ref=${{ steps.login-ecr.outputs.registry }}/${{ env.ECR_REPOSITORY }}:buildcache,mode=max

      #### Deployment of configuration in dev, uat, qa or prod
      - name: Build, validate and push K8s configuration in (${{ inputs.APPLICATION_ENV }})
        uses: a14T2n6g2l59Hgnsmb1Sc4L6CCY7U9XI2cmTor8/cloudhandson-eks-reusable-workflow/.github/actions/build-validate-push-k8s-config@master
        with:
          CLUSTER_ENV: ${{ inputs.APPLICATION_ENV }}
          CLUSTER_NAME: ${{ inputs.CLUSTER_NAME }}
          APPLICATION: ${{ env.APPLICATION }}
          APPLICATION_NAMESPACE: ${{ env.APPLICATION_NAMESPACE }}
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          IMAGE_TAG: ${{ env.IMAGE_SHA }}
          DNS_SUBDOMAIN: ${{ vars.DNS_SUBDOMAIN }}
          GH_TOKEN: ${{ secrets.GIT_PRIVATE_TOKEN }}

